.loginRegisterContainer{
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-width: 500px;
    margin: 80px auto;
    text-align: center;
    background-color: rgba(var(--greyPaletteRGBA), 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 8px var(--darkBrownPalette) ;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.switchContainer span {
    padding-right: 10px;
    padding-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--lightBlue2Palette);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.formGroup {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.formField {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}
  
.formField:focus {
    outline: none;
    border-color: var(--darkBluePalette);
}