.section h2 {
    font-family: var(--headerFont);
    color: var(--blueLevel4Palette);
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 4px solid var(--blueLevel5Palette);
    padding-left: 10px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li,
.section ol li {
    background-color: var(--lightBrown);
    margin-bottom: 10px;
    padding: 10px 15px;
    border-left: 4px solid var(--blueLevel2Palette);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section ul li:hover,
.section ol li:hover {
    background-color: var(--lightBrownPalette);
    border-left-color: var(--blueLevel3Palette);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.section ol {
    counter-reset: list-counter;
    list-style: none;
    margin-left: 20px;
}

.section ol li {
    position: relative;
    padding-left: 40px;
}

.section ol li::before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--blueLevel4Palette);
}

.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}