header {
    background-color: var(--greyPalette);
}

.headerContainer {
    display: flex;
    align-items: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.headerLogo {
    width: 100px;
}

.navMenu {
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 40px;
    width: 100%;
}

.navMenu .router-link-active {
    border-bottom: 2px solid var(--darkBluePalette);
}

.navMenu a {
    font-size: 18px;
    color: var(--darkBluePalette);
    padding-right: 5px;
}

.navMenu a:last-child {
    margin-left: auto;
}

.navMenu a:hover {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--darkBluePalette);
}

.dropdown-content {
    display: block;
    position: absolute;
    margin-top: 120px;
    background-color: var(--lightBrownPalette);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid var(--darkBrownPalette);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    max-height: 200px;
}
