table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-left: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th:last-child,
td:last-child{
    font-weight: bold;
}

th {
    background-color: var(--greyPalette);
    font-weight: 500;
}

td:first-child {
    width: 15px;
}

tr:nth-child(even) {
    background-color: var(--lightBrown);
}

tr:nth-child(-n+2) > td:first-child {
    border-left: 3px solid green;
}

tr:nth-child(n+3) > td:first-child {
    border-left: 3px solid orange;
}

.teamNameWithShield {
    display: flex;
    align-items: center;
    gap: 10px;
}

.teamNameWithShield img{
    max-height: 52px;
}

.legend{
    display: flex;
    gap: 50px;
    padding-top: 15px;
}

.champions {
    border-left: 5px solid green;
    padding-left: 5px;
}
  
.uefa {
    border-left: 5px solid orange;
    padding-left: 5px;
}

@media screen and (max-width: 800px) {
    table{
        font-size: 13px;
    }

    td {
        width: 10px;
        padding: 7px 3px;
    }

    .teamNameWithShield {
        width: auto;
    }

    .teamNameWithShield img{
        max-height: 30px;
    }
}

@media screen and (max-width: 420px) {
    
    /* td {
        width: 8px;
        padding: 7px 3px;
    } */
}