.clubBanner{
    background-color: blue;
    color: var(--white);
    font-family: var(--subtitleFont);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.gradient {
    background: linear-gradient(90deg, blue -15%, rgba(255, 255, 255, 0) 20%), url(https://res.cloudinary.com/dzd68sxue/image/upload/v1712935635/WEBP/plantillas/cancheritos_pq9bvg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    height: 50vh;
    width: 100%;
}
  

.clubBannerRight{
    margin-left: 20%;
    width: 80%;
    max-width: 900px;
}

@media screen and (max-width: 1200px) {
    .clubBanner{
        width: 100%;
        grid-template-columns: 1fr;
        min-height: 250px;
        align-items: end;
    }

    .positionAbsolute{
        position: absolute;
    }
}

@media screen and (max-width: 800px) {
    .gradient{
        background: url(https://res.cloudinary.com/dzd68sxue/image/upload/v1712935635/WEBP/plantillas/cancheritos_pq9bvg.jpg);
        background-size: cover;
        background-position: center;
        height: 35vh;
    }

    .positionAbsolute{
        font-size: 18px;
        width: 100%;
        background-color: rgba(var(--greyPaletteRGBA), 0.5);
        color: var(--black);
    }

    .positionAbsolute img{
        height: 130px;
    }
}

@media screen and (max-width: 500px) {
    .gradient{
        height: 20vh;
    }

    .clubBannerLeft img{
        height: 100px;
    }
}