:root {
    --headerFont: "Raleway", sans-serif;
    --subtitleFont: "Nunito Sans", sans-serif;
    --countdownFont: "Bebas Neue";
    --bodyFont: "Barlow Semi Condensed", sans-serif;
    --blueLevel1Palette: #bdfdff;
    --blueLevel2Palette: #a3e4f3;
    --blueLevel3Palette: #89cbe7;
    --blueLevel4Palette: #6eb2db;
    --blueLevel5Palette: #5499cf;
    --darkBluePalette: #206192;
    --white: #fff;
    --black: #000;
    --lightBrownPalette: #ebe7e0;
    --darkBrownPalette: #bdb8ad;
    --greyPalette: #ececec;
    --greyPaletteRGBA: 236, 236, 236;
    --orangePalette: #ffbf00;
    --vc-nav-width: 80px !important;
}