@import "./base.css";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--bodyFont);
}

a {
    text-decoration: none;
}

.subtitle {
    font-family: var(--subtitleFont);
    padding-top: 20px;
}

.boldText{
    font-weight: bold;
}