@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--bodyFont);
}

a {
    text-decoration: none;
}

button{
    color: var(--darkBluePalette);
    background-color: var(--blueLevel3Palette);
    border: none;
    border-radius: 3px;
    font-family: var(--subtitleFont);
    font-size: 16px;
    padding: 5px 7px;
    width: fit-content;
    margin: 10px auto;
    cursor: pointer;
}

button:hover,
.card:hover {
    box-shadow: 0px 0px 10px var(--blueLevel2Palette) ;
}


h2.subtitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle {
    font-style: italic;
    font-family: var(--subtitleFont);
    color: var(--darkBluePalette);
    padding-top: 20px;
    font-size: 2rem;
}

.boldText{
    font-weight: bold;
}

.colorDarkBluePalette{
    color: var(--darkBluePalette);
}

.content80 {
    max-width: 1400px;
    width: 80%;
    margin: auto;
}

.flexCenterF20{
    display: flex;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .subtitle{
        font-size: 26px;
    }

    .content80{
        width: auto;
        padding: 0 5px;
    }

    .subtitle{
        padding-left: 10px;
        font-size: 22px;
    }
}